.footer
  .footer__contents
    .footer__contents__left
      %ul
        %li<
          .footer__contents__left__title FRIMAについて
          %ul
            %li<
              = link_to '会社概要(運営会社)', "#", class: ".header__contents__nav__left__category__first"
            %li<
              = link_to 'プライバシーポリシー', "#", class: ".header__contents__nav__left__category__second"
            %li<
              = link_to 'FURIMA利用規約', "#", class: ".header__contents__nav__left__category__third"
            %li<
              = link_to 'ポイントに関する特約', "#", class: ".header__contents__nav__left__category__fourth"
    .footer__contents__center
      %ul
        %li<
          .footer__contents__center__title FRIMAを見る
          %ul
            %li<
              .footer__contents__center__title__link
              = link_to 'カテゴリー一覧', "#", class: ".header__contents__nav__left__category__first"
            %li<
              .footer__contents__center__title__link
              = link_to 'ブランド一覧', "#", class: ".header__contents__nav__left__category__second"
    .footer__contents__right
      %ul
        %li<
          .footer__contents__right__title ヘルプ＆ガイド
          %ul
            %li<
              = link_to 'FURIMAガイド', "#", class: ".header__contents__nav__left__category__first"
            %li<
              = link_to 'FURIMAロゴ利用ガイドライン', "#", class: ".header__contents__nav__left__category__second"
            %li<
              = link_to 'お知らせ', "#", class: ".header__contents__nav__left__category__third"
  .footer__logo
    = link_to image_tag(src= "footer/logo-white.png", class: ".header__contents__main__logo",height:"45px",width:"auto"),root_path
  .footer__copyright 
    %p ©️ FURIMA