%section.showMain
  .showMain__content
    .topContent
      .itemBox
        .itemBox__name 
          =@product.name
        .itemBox__image
          .itemBox__image__main{style:"background-image: url(#{@product.images.first.image});"}
          .itemBox__image__sub
            - @product.images.each do |image|
              %li{style:"background-image: url(#{image.image});"}
          
            
        .itemBox__price
          .itemBox__price--num 
            =@product.price
          .itemBox__price--detail
            %span (税込)
            %span 送料込み
        .product-btn

          -if current_user
            - if user_signed_in? && current_user.id == @product.user_id
              .product-edit-button
                = link_to "商品情報を編集する",  edit_top_path(@product)
              .product-del-button
                = link_to 'この商品を削除する', top_path(@product), method: :delete, data: { confirm: "本当に削除しますか？" }
            - else
              .product-buy-button
                %button.decisionBtn{name: 'button', type: 'submit'}
                  = link_to "購入画面に進む", edit_purchase_path(@product)

        .itemDetail 
          =@product.description
        .table
          %table
            %tr 
              %th 出品者
              %td 
                = @product.user.nickname
            %tr

              %th カテゴリー
              %td
                = render "categories/show"
            
            %tr
            -#あとで使用するかも
              -# %th ブランド
              -# %td
              -#   =@product.brand.brand_name
            %tr
              %th 商品の状態
              %td 
                =@product.status
            %tr
              %th 配送料の負担
              %td 
                =@product.send_cost
            %tr
              %th 発送元の地域
              %td
                = link_to '兵庫県', '#'
            %tr
              %th 発送日の目安
              %td 即日発送
      .optionalArea
        %ul
          %li#likeBtn.optionalBtn.likeBtn
            %i.fas.fa-star
            お気に入り
        %ul
          %li.optional
            = link_to '#' do
              %i.fa.fa-flag
              不適切な商品の通報
      .commentBox
        .commentBox__comment
          %h2 コメント一覧
          -if @product.comments
            - @product.comments.each do |comment|
              .comment-user
                = comment.user.nickname
              .comment-text
                = comment.comment
                .comment-date
                  %i.far.fa-clock
                  = comment.created_at.strftime("%Y/%m/%d %H:%M")
                -if current_user
                  - if user_signed_in? && current_user.id == comment.user_id
                    = link_to top_comment_path(comment.product.id, comment.id),class: "comment-destroy", method: :delete, data: { turbolinks: false} do
                      %i.fas.fa-trash-alt
        
        %p.noticeMsg
          相手のことを考え丁寧なコメントを心がけましょう。
          %br
          不快な言葉遣いなどは利用制限や退会処分となることがあります。
       
        .container
        - if current_user
          = form_with(model: [@product, @comment],url:top_comments_path(@product), method: :post, local: true,) do |form|
            = form.text_area :comment, placeholder: "コメントする",size: "70x4"
            = form.submit 'コメントする', class: "btn"
        - else
          %strong
            %p ※※※ コメントの投稿には新規登録/ログインが必要です ※※※

    %ul.links
      %li
        = link_to '#' do
          %i.fa.fa-angle-left
          前の商品
      %li
        = link_to '#' do
          後ろの商品
          %i.fa.fa-angle-right
    .relatedItems
      = link_to 'レディースをもっと見る', '#'
