%section.showMain
  .showMain__content
    .topContent
      .itemBox
        .itemBox__name 
          =@product.name
        .itemBox__image
          .itemBox__image__main{style:"background-image: url(#{@product.images.first.image});"}
          .itemBox__image__sub
            %li{style:"background-image: url(#{@product.images.second.image});"}
              -# = image_tag 'top/catCute.jpeg', alt: 'CatCute'
            %li{style:"background-image: url(#{@product.images.third.image});"}
              -# = image_tag 'top/dogCute.jpeg', alt: 'DogCute'
            %li{style:"background-image: url(#{@product.images.fourth.image});"}
              -# = image_tag 'top/rabbitCute.jpeg', alt: 'RabbitCute'
        .itemBox__price
          .itemBox__price--num 
            =@product.price
          .itemBox__price--detail
            %span (税込)
            %span 送料込み
        - if user_signed_in? && current_user.id == @product.purchase.seller_id
          .product-edit-button
            = link_to "商品情報を編集する",  edit_product_path(@product)
          .product-buy-button
            = link_to 'この商品を削除する', product_path(@product), method: :delete, data: { confirm: "本当に削除しますか？" }
        - else
          .product-buy-button
            %button.decisionBtn{name: 'button', type: 'submit'}
              = link_to "購入画面に進む", edit_purchase_path(@product)
        .itemDetail 
          =@product.description
        -# 犬と猫と鳥とウサギです。家の方針で飼えなくなりました。引き取っていただけませんか。お金入りません。名前はカレーライスです。カレノスケ呼ぶと喜びます。
        .table
          %table
            %tr 
              %th 出品者
              %td 加藤陽
            %tr
              %th カテゴリー
              %td
                =@product.category.category_name
                = link_to '', '#'
                %br
                = link_to '', '#'
                %br
                = link_to '', '#'
                %br
            %tr
              %th 商品のサイズ
              %td S
            %tr
              %th ブランド
              %td
                =@product.brand.brand_name
            %tr
              %th 商品の状態
              %td 
                =@product.status
            %tr
              %th 配送料の負担
              %td 
                =@product.send_cost
            %tr
              %th 発送元の地域
              %td
                = link_to '兵庫県', '#'
            %tr
              %th 発送日の目安
              %td 即日発送
        .optionalArea
          %ul
            %li#likeBtn.optionalBtn.likeBtn
              %i.fas.fa-star
              お気に入り
          %ul
            %li.optional
              = link_to '#' do
                %i.fa.fa-flag
                不適切な商品の通報
      .commentBox
        %form#new_comment.new_comment{"accept-charaset" => "UTF-8", action: "#", method: "post"}
          %textarea#comment_body{name: 'comment[body]', required: 'required'}
          %p.noticeMsg
            相手のことを考え丁寧なコメントを心がけましょう
            %br
            不快な言葉などは利用制限や退会処分となることがあります
          %br
          %button.commitBtn{name: 'button', type: 'submit'}
            %i.fa.fa-comment
            コメントする
    %ul.links
      %li
        = link_to '#' do
          %i.fa.fa-angle-left
          前の商品
      %li
        = link_to '#' do
          後ろの商品
          %i.fa.fa-angle-right
    .relatedItems
      = link_to 'レディースをもっと見る', '#'
        





