.mypagebox
  .mypagebox__leftcolumn
    .mypagebox__leftcolumn--mypage
      = link_to "マイページ", '/users/show'
    .mypagebox__leftcolumn--cardreg
      = link_to "カード登録/変更", new_card_path
    .mypagebox__leftcolumn--logout
      = link_to "ログアウト", '/users/logout'


  .form__content
    .form__title 登録済みクレジットカード
    %br
    = "**** **** **** " + @default_card_information.last4
    %br
    - exp_month = @default_card_information.exp_month.to_s
    - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
    = exp_month + " / " + exp_year
    = form_tag(card_path(current_user.id), method: :delete, id: 'charge-form',  name: "inputForm") do
      %input{ type: "hidden", name: "card_id", value: "" }
      %button.delete-btn 削除する